<html ng-app="cdcApp">
    <head>
        <meta charset="utf-8"/>
    </head>
    <body class="home">
        <textarea id="caixaMsg" name="caixaMsg" rows="10" cols="70" style="resize:none" disabled></textarea><br>
        <input type="text" id="msg" name="msg" value="" placeholder="Digite uma mensagem..." style="width:440px">
        <input type="submit" name="enviar" value="ENVIAR" onclick="enviaMensagem()">

        <script>
            function enviaMensagem(){
                const msg = document.getElementById('msg');
                const caixaMsg = document.getElementById('caixaMsg');

                caixaMsg.value += msg.value + "\n";
                msg.value = "";
            }
        </script>

        <script src="/socket.io/socket.io.js"></script>

        <script>
            var socket = io();
            socket.on('novaPromocao', function(data) {
                alert("Livro em promoção " + data.livro.id);
            });
        </script>
    </body>
</html>
