<html ng-app="cdcApp">
    <head>
        <meta charset="utf-8"/>
        <title>Chatzão do Senaizão</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
        <link rel="stylesheet" href="css/estilo.css">
    </head>

    <body>
        <form id="chat">
            <input type="text" id="nome" name="nome" value="" placeholder="Digite seu nome/apelido">
            <div class="messages"></div>
            <input type="text" id="msg" name="msg" value="" placeholder="Digite uma mensagem...">
            <input type="submit" name="enviar" value="ENVIAR" onclick="enviaMensagem()">
        </form>

        <script type="text/javascript">
            var socket = io('http://localhost:3000');
        </script>
    </body>
</html>
